export DATABASE_URL="sqlite:///$PWD/dev.db?mode=rwc"
export FONTCONFIG_FILE="$(find /nix/store -maxdepth 4 -type f -path '*fontconfig-*/etc/fonts/fonts.conf' | head -n1)"
export FONTCONFIG_PATH="$(dirname "$FONTCONFIG_FILE")"

