@import "tailwindcss";

@source "../../../templates/**/*.stpl";
@source "../../../src/**/*.rs";

@theme {
  --font-sans: "Barlow", sans-serif;
  --font-mono:
    "iA Writer Mono S", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --font-brand: "itc-avant-garde-gothic-pro", sans-serif;

  --color-page: oklch(12% 0.005 264);
  --color-surface: oklch(18% 0.008 264);
  --color-primary: oklch(95% 0.01 264);
  --color-secondary: oklch(68% 0.012 264);
  --color-subdued: oklch(65.476% 0.06472 241.613);
  --color-tertiary: oklch(47.6% 0.051 242);
  --color-accent: oklch(99.9% 0.277 308);

  --color-notice: oklch(90% 0.095 162);
  --color-notice-border: oklch(58% 0.115 162);
  --color-notice-bg: oklch(28% 0.065 162 / 0.35);

  --color-alert: oklch(90% 0.09 30);
  --color-invalid: oklch(62% 0.18 22);

  --color-form-control: oklch(20% 0.01 264);
  --color-form-control-border: oklch(35% 0.014 264);

  --color-dev-alert: oklch(96% 0.07 93);
  --color-dev-alert-border: oklch(76% 0.17 81);
  --color-dev-alert-bg: oklch(39% 0.095 81 / 0.4);

  --color-badge: oklch(53.3% 0.12 316);
}
